.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.atas{
    display: flex   ;
    justify-content: space-between;
    background-color: rgba(241, 68, 68, 0.767);
    padding: 10px 20px;
    color: rgb(253, 252, 252)
}
.atas a{
    color: rgb(255, 254, 254);
    text-decoration: none;
    margin: 0 10px;
}
.atas a:hover {
    text-decoration: underline;
    color: gray;
    border-color: gray;

}
.isi{
    text-align: center;
    padding: 200px;
}
.isi h1{
    font-weight: bolder;
}
.isi a{
    margin: 0 20px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(206, 77, 77);
}
.isi a:hover{
    text-decoration: underline;
    color: gray;
}